body {
    background-image: linear-gradient(
        180deg,
        #610631 5%,
        #830808a6 20%,
        #e7563c 60%,
        #e6c5c5 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 300px; 
    margin: 15px 20px; 
    width: 200px; 
}

main > section button {
    background-color: #ffa600;
    border: none;
    border-radius: 10px;
    color: rgb(53, 16, 5);
    font-family: EuclidBold;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    padding: 9px 23px;
    text-transform: uppercase;
}

#detalhes-container {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container > li p {
    color: white;
}

#detalhes-container1 {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container1 > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container1 > li p {
    color: white;
}

#detalhes-container2 {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container2 > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container2 > li p {
    color: white;
}